'use strict';

/**
 * @ngdoc function
 * @name 
 * @description
 */
angular.module('${1}App')
  .directive('${2}', function(${3}) {
    return {
      templateUrl: '${4}',
      retrict: 'EA',
      scope: {
        ${5}
      },
      link: function postLink($scope) {
        ${6}
      }
    };
  });
